/** @format */
.App {
  padding: 20px;
}

.chart-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.button {
  margin: 4px;
  background-color: black;
  border-radius: 6px;
  color: #ffffff;
  border-width: none;
  cursor: pointer;
  height: 26px;
  width: 120px;
}
